<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客服中心</title>
    <link rel="stylesheet" th:href="@{/asserts/layui/css/layui.css}" media="all">
    <style>
        .layim-chat-text .layui-layim-photos {
            width: 120px;
        }
    </style>
    <script th:src="@{/asserts/layui/layui.js}"></script>
</head>
<body>
<script>
    const adminPhone = 101032;
    const webSocket = new WebSocket("ws://localhost:8081/chat?userId=" + adminPhone);//localhost
    //监听收到的聊天消息，假设你服务端emit的事件名为：chatMessage
    function send(type , res){

        webSocket.send(JSON.stringify({
            type: type //服务端区分消息类型
            ,
            data: res
        }));
    }
    layui.use('layim', function (layim) {
        const layer = layui.layer;
        layer.msg('等待客户接入中......')
        //  收到消息
        webSocket.onmessage = function (res) {
            res = JSON.parse(res.data);
            switch (res.type) {
                case 'TYPE_TEXT_MESSAGE':
                    layim.getMessage(res.msg);
                    break;
            }
        };
        layim.on('sendMessage', function (res) {
            send('chatMessage' , res)
        });
        layim.config(
            {
                brief: true //是否简约模式
                ,
                title: '即时通讯'
                ,
                init: {
                    //配置客户信息
                    mine: {
                        "username": "客服姐姐" //我的昵称
                        ,"id": adminPhone //我的ID
                        ,"status": "online" //在线状态 online：在线、hide：隐身
                        ,"remark": "在深邃的编码世界，做一枚轻盈的纸飞机" //我的签名
                        ,"avatar": "../asserts/avatar/kefu.jpg" //我的头像
                    }
                }
            });
    });
</script>
</body>
</html>