<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>三级导航</title>
    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/left-side-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/iconfont.css}">
    <script th:src="@{asserts/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{asserts/css/jquery.slimscroll.min.js}"></script>
    <script type="text/javascript" th:src="@{asserts/css/left-side-menu.js}"></script>
    <link th:href="@{/asserts/mall/css/bootstrap-modal.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/table.css}">
    <link rel="stylesheet" type="text/css" th:href="@{asserts/layui/css/layui.css}">
    <style type="text/css">
     .hsl{
font-size: 35px;
         padding-top: 15px;
}
     .div{
         font-weight: bolder;
         position: absolute;
         margin-top: 30px;
         margin-left: 30px;
         font-family: "SimSun";
         height: 20px;
         font-size: 15px;
     }
     img{
         width: 20px;
         height: 20px;
         padding-top: 5px;
     }

    </style>
</head>
<body>
    <div class ="top"  style="width: 100%;height: 80px;background-color: #397bc5">
        <div class="div">
            <img th:src="@{asserts/image/icon3.png}">
            <script>
                var   CalendarData=new   Array(20);
                var   madd=new Array(12);
                var   TheDate=new Date();
                var   numString="一二三四五六七八九十";
                var   monString="正二三四五六七八九十冬腊";
                var   weekString="日一二三四五六";
                var   sx="鼠牛虎兔龙蛇马羊猴鸡狗猪";
                var   cYear;
                var   cMonth;
                var   cDay;
                var   cHour;
                var   cDateString;
                var   DateString;
                var   Browser=navigator.appName;

                function   init()
                {
                    CalendarData[0]=0x41A95;
                    CalendarData[1]=0xD4A;
                    CalendarData[2]=0xDA5;
                    CalendarData[3]=0x20B55;
                    CalendarData[4]=0x56A;
                    CalendarData[5]=0x7155B;
                    CalendarData[6]=0x25D;
                    CalendarData[7]=0x92D;
                    CalendarData[8]=0x5192B;
                    CalendarData[9]=0xA95;
                    CalendarData[10]=0xB4A;
                    CalendarData[11]=0x416AA;
                    CalendarData[12]=0xAD5;
                    CalendarData[13]=0x90AB5;
                    CalendarData[14]=0x4BA;
                    CalendarData[15]=0xA5B;
                    CalendarData[16]=0x60A57;
                    CalendarData[17]=0x52B;
                    CalendarData[18]=0xA93;
                    CalendarData[19]=0x40E95;
                    madd[0]=0;
                    madd[1]=31;
                    madd[2]=59;
                    madd[3]=90;
                    madd[4]=120;
                    madd[5]=151;
                    madd[6]=181;
                    madd[7]=212;
                    madd[8]=243;
                    madd[9]=273;
                    madd[10]=304;
                    madd[11]=334;
                }

                function   GetBit(m,n)
                {
                    return   (m>>n)&1;
                }

                function   e2c()
                {
                    var   totalmnk;
                    var   isEnd=false;
                    var   tmp=TheDate.getYear();
                    if   (tmp<1900)     tmp+=1900;
                    total=(tmp-2001)*365
                        +Math.floor((tmp-2001)/4)
                        +madd[TheDate.getMonth()]
                        +TheDate.getDate()
                        -23;
                    if   (TheDate.getYear()%4==0&&TheDate.getMonth()>1)
                        total++;
                    for(m=0;;m++)
                    {
                        k=(CalendarData[m]<0xfff)?11:12;
                        for(n=k;n>=0;n--)
                        {
                            if(total<=29+GetBit(CalendarData[m],n))
                            {
                                isEnd=true;
                                break;
                            }
                            total=total-29-GetBit(CalendarData[m],n);
                        }
                        if(isEnd)break;
                    }
                    cYear=2001   +   m;
                    cMonth=k-n+1;
                    cDay=total;
                    if(k==12)
                    {
                        if(cMonth==Math.floor(CalendarData[m]/0x10000)+1)
                            cMonth=1-cMonth;
                        if(cMonth>Math.floor(CalendarData[m]/0x10000)+1)
                            cMonth--;
                    }
                    cHour=Math.floor((TheDate.getHours()+3)/2);
                }

                function   GetcDateString()
                {   var   tmp="";

                    tmp+="年(";
                    tmp+=sx.charAt((cYear-4)%12);
                    tmp+=")   ";
                    if(cMonth<1)
                    {
                        tmp+="闰";
                        tmp+=monString.charAt(-cMonth-1);
                    }
                    else
                        tmp+=monString.charAt(cMonth-1);
                    tmp+="月";
                    tmp+=(cDay<11)?"初":((cDay<20)?"十":((cDay<30)?"廿":"卅"));
                    if(cDay%10!=0||cDay==10)
                        tmp+=numString.charAt((cDay-1)%10);
                    tmp+="    ";
                    if(cHour==13)tmp+="夜";


                    cDateString=tmp;
                    return   tmp;
                }

                function   GetDateString()
                {
                    var   tmp="";
                    var   t1=TheDate.getYear();
                    if   (t1<1900)t1+=1900;
                    tmp+="时间:"+t1
                        +"-"
                        +(TheDate.getMonth()+1)+"-"
                        +TheDate.getDate()
                        +" 星期"+weekString.charAt(TheDate.getDay());
                    DateString=tmp;
                    return   tmp;
                }

                init();
                e2c();
                GetDateString();
                GetcDateString();
                document.write(DateString+" 农历"+cDateString);
            </script>
        </div>
        <div class="hsl"> <strong>校内艺术画展鉴赏与交易系统</strong>
        </div>
        <div style="margin-left: 1300px;margin-top:-8px;color: #e0a800;font-size: 20px;"><strong>管理员 ： [[${session.username}]]</strong></div>
    </div>
    <div class="left-side-menu" >
        <div class="lsm-expand-btn">
            <div class="lsm-mini-btn">
                <label>
                    <input type="checkbox" checked="checked">
                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="250" cy="250" r="230" />
                        <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55" />
                        <path class="line--2" d="M0 50h80" />
                        <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45" />
                    </svg>
                </label>

            </div>
            <!--        <input type="text"/>
            -->
        </div>
        <div class="lsm-container">
            <div class="lsm-scroll" >
                <div class="lsm-sidebar">
                    <ul>
                        <li class="lsm-sidebar-item">
                            <a href="javascript:;"> <i class="my-icon lsm-sidebar-icon icon_1"></i>
                                <span>系统设置</span> <i class="my-icon lsm-sidebar-more"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="javascript:openUpdateModal(); ">
                                        <span>修改密码</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="active"  href="/loginOut">
                                        <span>注销登录</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="lsm-sidebar-item">
                            <a href="javascript:;">
                                <i class="my-icon lsm-sidebar-icon icon-users"></i>
                                <span>人事管理</span>
                                <i class="my-icon lsm-sidebar-more"></i></a>
                            <ul>
                                <li>
                                    <a href="javascript:;"  onclick="change('UserManage')">
                                        <span>用户管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;"  onclick="change('CommentManage')">
                                        <span>评论管理</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="lsm-sidebar-item">
                            <a href="javascript:;">
                                <i class="my-icon lsm-sidebar-icon icon_3"></i>
                                <span>公告管理</span>
                                <i class="my-icon lsm-sidebar-more"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="javascript:;" onclick="change('NewsManage')">
                                        <span>更新公告</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="lsm-sidebar-item">
                            <a href="javascript:;">
                                <i class="my-icon lsm-sidebar-icon icon-iconset0308"></i>
                                <span>客服管理</span>
                                <i class="my-icon lsm-sidebar-more"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="javascript:;"  onclick="change('kefu')">
                                        <span>回复用户</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="lsm-sidebar-item">
                            <a href="javascript:;">
                                <i class="my-icon lsm-sidebar-icon icon_2"></i>
                                <span>信息管理</span>
                                <i class="my-icon lsm-sidebar-more"></i>
                            </a>
                            <ul>
                                <li class="lsm-sidebar-item">
                                    <a href="javascript:;"><i class="my-icon lsm-sidebar-icon "></i><span>艺术画管理</span><i class="my-icon lsm-sidebar-more"></i></a>
                                    <ul>
                                        <li><a href="javascript:;" onclick="change('gallery')"><span>画廊管理</span></a></li>
                                        <li><a href="javascript:;" onclick="change('western')"><span>西方艺术画</span></a></li>
                                        <li><a href="javascript:;" onclick="change('chinese')"><span>本国艺术画</span></a></li>

                                    </ul>
                                </li>
                                <li class="lsm-sidebar-item">
                                    <a href="javascript:;"><i class="my-icon lsm-sidebar-icon "></i><span>艺术家管理</span><i class="my-icon lsm-sidebar-more"></i></a>
                                    <ul>
                                        <li><a href="javascript:;" onclick="change('westernPeople')"><span>西方艺术家</span></a></li>
                                        <li><a href="javascript:;" onclick="change('chinesePeople')"><span>本国艺术家</span></a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="lsm-sidebar-item">
                            <a href="javascript:;">
                                <i class="my-icon lsm-sidebar-icon icon-chongzhi1"></i>
                                <span>订单管理</span>
                                <i class="my-icon lsm-sidebar-more"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="javascript:;" onclick="change('orders')">
                                        <span>交易记录</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div style="margin-top:-580px;margin-left:150px;"><iframe id="right"  style="width:1100px;height:600px;" frameborder="no" border="0"   src="/main"></iframe></div>
    <div class="content">
        <div class="modal fade" id="personalInfoModal" tabindex="-1" role="dialog"
             aria-labelledby="personalInfoModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h6 class="modal-title" id="personalInfoModalLabel">密码修改</h6>
                    </div>
                    <form th:action="@{/manageUpdatePass}">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" id="userId" th:value="${session.username}" name="username">
                                <label for="address" class="control-label">新的密码：</label>
                                <input type="text" class="form-control" id="address" name="password"
                                       th:onblur="'updateItem()'"
                                       placeholder="请输入密码" th:value="correct"
                                       required="true">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary" id="saveButton">确认</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap 3 -->
    <script th:src="@{asserts/mall/js/bootstrap3.js}"></script>
    <script th:src="@{asserts/mall/js/search.js}" type="text/javascript"></script>
    <script th:src="@{asserts/admin/plugins/sweetalert/sweetalert.min.js}"></script>


</body>
    <script type="text/javascript">
        function openUpdateModal() {
            $('#personalInfoModal').modal('show');
        }
        //绑定modal上的保存按钮
        // $('#saveButton').click(function () {
        //     var address = $("#address").val();
        //     if (address.trim().length < 5) {
        //         swal("请输入正确的密码", {
        //             icon: "error",
        //         });
        //        return;
        //     }
        // });


        function updateItem() {
            let val = $('#address').val();
            if (val.length < 5)
                alert("长度必须大于5");
            else if ( val.length > 16)
                alert("长度必须小于16");
            else
                return ;

        }
    function change(data){

        if (data === 'UserManage') {
            
            $("#right").attr("src","/UserManage")
 
        }else if (data === 'CommentManage') {
            $("#right").attr("src","/CommentManage");
        }
        else if (data ==='kefu'){
            $("#right").attr("src","/adminKeFu");
        }
        else if (data ==='NewsManage'){
            $("#right").attr("src","/NewsManage");
        }
        else if (data ==='western'){
            $("#right").attr("src","/WesternManage");
        }
        else if (data ==='chinese'){
            $("#right").attr("src","/ChineseManage");
        }
        else if (data ==='gallery'){
            $("#right").attr("src","/GalleryManage");
        }
        else if (data ==='orders'){
            $("#right").attr("src","/OrdersManage");
        }
        else if (data ==='chinesePeople'){
            $("#right").attr("src","/chinesePeopleManage");
        }
        else if (data ==='westernPeople'){
            $("#right").attr("src","/westernPeopleManage");
        }
        else {
            console.log('传参错误')
        };


    }
</script>
</html>