<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
    <title>三级导航</title>
    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/left-side-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/iconfont.css}">
    <script th:src="@{asserts/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{asserts/css/jquery.slimscroll.min.js}"></script>
    <script type="text/javascript" th:src="@{asserts/css/left-side-menu.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/table.css}">
    <link rel="stylesheet" type="text/css" th:href="@{asserts/layui/css/layui.css}">
    <style type="text/css">
.text-shadow{
        text-shadow:#FF0000 0 0 10px;
        color:white;
        font-size:60px;
        text-align: center;
    }
    </style>
</head>
<body>
    <div id="right">
        <strong class="text-shadow">超级管理员你好！！</strong>
        <div>

<!--
            <form th:action="@{/upload}" th:method="post" enctype="multipart/form-data">
                一束花名字：<input type="text" name="name" value="" /><br>
                描述:<input type="text" name="des" value="" /><br>
                <input type="file" name="photo" value="上传文件" /><br>
                <input type="submit" />
            </form>-->

            <script>


                // $.ajax({
                //     url: '/upload',
                //     type: 'default GET (Other values: POST)',
                //     dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
                //     data: {param1: 'value1'},
                // })
                //     .done(function() {
                //         console.log("success");
                //     })
                //     .fail(function() {
                //         console.log("error");
                //     })
                //     .always(function() {
                //         console.log("complete");
                //     });

            </script>
</body>
</html>