<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>表格</title>
    <link rel="stylesheet" type="text/css" href="css/left-side-menu.css">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="js/left-side-menu.js"></script>
    <link rel="stylesheet" type="text/css" href="css/table.css">
</head>
<body>
    <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th>学号</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>性别</th>
                        <th>班级</th>
                        <th>手机</th>
                        <th>部门</th>
                        <th>用户操作</th>
                    </tr>
                </thead>
                <tbody>
                    <c:forEach var="item" items="${members}">
                        <tr>
                            <td>${item.sno}</td>
                            <td>${item.username}</td>
                            <td>${item.password}</td>
                            <td>${item.sex}</td>
                            <td>${item.mclass}</td>
                            <td>${item.phone}</td>
                            <td>${item.department}</td>
                            <td>
                                <a href="#" name="${item.id}" class="button1">修改</a>
                                <a href="deleteMember.action?id=${item.id}" class="button2">删除</a>
                            </td>
                        </tr>
                    </c:forEach>
                </tbody>
            </table>
</body>
</html>