<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/left-side-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/iconfont.css}">
    <script th:src="@{asserts/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{asserts/css/jquery.slimscroll.min.js}"></script>
    <script type="text/javascript" th:src="@{asserts/css/left-side-menu.js}"></script>

    <script type="text/javascript" th:src="@{asserts/js/jquery.basictable.min.js}"></script>
    <script type="text/javascript" th:src="@{asserts/js/reponsetable.min.js}"></script>
    <script type="text/javascript" th:src="@{asserts/layer/layer.js}"></script>
    <link rel="stylesheet" th:href="@{asserts/layer/theme/default/layer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/reponse.css}">

    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{asserts/css/table.css}">
    <link rel="stylesheet" type="text/css" th:href="@{asserts/layui/css/layui.css}">
    <style type="text/css">

        .alertceng{
            background: #FFFFFF;
            padding: 10px;
            display: none;
        }
        .alertceng span.title{
            margin-right: 10px;
        }
        .container {
            height: 70px;
            width: 800px;
            margin-top: -40px;
            margin-left: 350px;
        }
        .search {
            width: 300px;
            height: 40px;
            border-radius: 18px;
            outline: none;
            border: 1px solid #ccc;
            padding-left: 20px;
            position: absolute;
        }
        .btn {
            height: 35px;
            width: 35px;
            margin-top: -5px;
            margin-left: 740px;
            position: absolute;
            border-radius: 18px;
            background: url("asserts/image/search.jpg") ;
            top: 6px;
            left: 285px;
            border: none;
            outline: none;
            cursor: pointer;
        }
    </style>
</head>
<body  onload="decodeMessage()">
  <button class="layui-btn layui-btn-radius layui-btn-normal" onclick="addtr('add');" style="margin-left: -900px; ">添加</button>
  <div class="container">
      <form method="get" th:action="@{/UserManage}">
          <input type="text" class="search" name="search" placeholder="搜索">
          <button type="submit"  class="btn"></button>
      </form>
  </div>
     <table  class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th>用户ID</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>角色</th>
                        <th>用户操作</th>
                    </tr>
                </thead>
                <tbody>
                        <tr th:each="user:${users}">
                            <td>[[${user.id}]]</td>
                            <td>[[${user.username}]]</td>
                            <td>[[${user.password}]]</td>
                            <td>[[${user.power}]]</td>
                            <td>
                                <button class="layui-btn layui-btn-sm"  th:onclick="|addtr(${user.id},)|">修改</button>
                                <a th:href="'/deleteUser?id='+ ${user.id}" class="layui-btn layui-btn-sm layui-btn-danger">删除</a>
                            </td>
                        </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>总数：[[${total}]]</th>

                    <th id="Content_div">

                    </th>
                    <th>共:[[${#numbers.formatInteger(page,0)}]]页；每页[[${limit}]]条</th>
                </tr>
                </tfoot>
            </table>



  <div id="editcontent" class="alertceng"><br>
      <p><span class="title">用户名:</span><input type="text" id="Name"/></p><br>
      <p><span class="title">密&nbsp;&nbsp;&nbsp;&nbsp;码:</span><input type="text" id="Password"/></p><br>
      <p><span class="title">角&nbsp;&nbsp;&nbsp;&nbsp;色:</span><input type="text" id="Power"/></p>
  </div>






     <script type="text/javascript">


         function addtr(data) {

             if (data === 'add'){
                 layer.open({
                     type: 1,
                     title: '编辑人员信息',
                     closeBtn: 1,
                     area: '300px',
                     skin: '#fff', //没有背景色
                     shadeClose: true,
                     content: $('#editcontent'),
                     btn:["保存","关闭"],
                     btn1:function(index,layero){
                         let Name=$("#Name").val();
                         let Password=$("#Password").val();
                         let Power=$("#Power").val();
                         // var obj = {
                         //     "Name":Name,
                         //     "Password": Password,
                         //     "Power": Power
                         // };
                         // console.log(obj);
                         //  ajax  axios
                         $.ajax({
                             url: '/admin/register',
                             type: 'POST',
                             dataType: 'json',
                             data: {username: Name,password: Password,power: Power},
                         })
                             .done(function(data) {
                                 // data > 0 就代表成功
                                 console.log(data);
                                 location.reload();
                             })
                             .fail(function() {
                                 console.log("error");
                             })
                             .always(function() {
                                 layer.close(index);
                             });
                     },btn2:function(index,layero){
                         layer.close(index);
                     }
                 });
             }else {
                 console.log(data)
                 layer.open({
                     type: 1,
                     title: '修改人员信息',
                     closeBtn: 1,
                     area: '300px',
                     skin: '#fff', //没有背景色
                     shadeClose: true,
                     content: $('#editcontent'),
                     btn:["保存","关闭"],
                     btn1:function(index,layero){
                         let Name=$("#Name").val();
                         let Password=$("#Password").val();
                         let Power=$("#Power").val();
                         $.ajax({
                             url: '/updateUser',
                             type: 'GET',
                             dataType: 'json',
                             data: {id: data,username: Name,password: Password,power: Power},
                         })
                             .done(function(data) {
                                 // data > 0 就代表成功
                                 console.log(data);
                                 location.reload();
                             })
                             .fail(function() {
                                 console.log("error");
                             })
                             .always(function() {
                                 layer.close(index);
                             });
                     },btn2:function(index,layero){
                         layer.close(index);
                     }
                 });
             }



         }



         function decodeMessage(){
             var tmp="";
             for(i=1;i<=[[${page}]];i++){
                 tmp+="<a  href='/UserManage?page="+i+"'>"+i+"</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";  // 1
             }
             document.getElementById("Content_div").innerHTML=tmp;
         }
     </script>


</body>